<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br>
      <% avatar_url = User.avatar_url(@user, 128) %>
      <% unless avatar_url.nil? %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <div class="js-comments-count"><%= pluralize(@user.comments.count, 'comment') %></div>
        </small>
      </div>
    </div>
  </div>
</div>

<% if has_authored_posts?(@user) %>
  <h3>Posts</h3>
  <%= render @user.posts %>
<% else %>
  <h3><%= @user.name %> has not authored any posts.</h3>
<% end %>

<% if has_authored_comments?(@user) %>
  <h3>Comments</h3>
  <%= render @user.comments %>
  <% else %>
  <h3><%= @user.name %> has not submitted any comments.</h3>
<% end %>

<% if has_favorites?(@user) %>
  <h3><%= @user.name %> has <%= @user.favorites.count %> favorites:</h3>
  <%= render @favorite_posts  %>
  <% else %>
  <h3><%= @user.name %> has not selected any favorites.</h3>
<% end %>
