<%= simple_form_for [topic, post] do |f| %>
<div class="alert alert-danger">
  <h4><%= pluralize(post.errors.count, "error") %></h4>
  <ul>
    <%= post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<%= f.input :title %>
<%= f.input :body %>
<%= f.button :submit, class: 'btn-success' %>
<% end %>