<% if current_user %>
<div class="pull-left vote-arrows">
  <div id="up_vote-<%= post.id %>">
    <%= link_to " ", post_up_vote_path(post), class: 'up-vote glyphicon glyphicon-chevron-up', method: :post, remote: true %>
  </div>
  <div id="votes-<%= post.id %>">
    <strong><%= post.points %></strong>
  </div>
  <div id="down_vote-<%= post.id %>">
    <%= link_to " ", post_down_vote_path(post), class: 'down-vote glyphicon glyphicon-chevron-down', method: :post, remote: true %>
  </div>
</div>
<% end %>
